name: My First Workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v5

            - name: List and read files
              run: |
                echo "My first GitHub Actions Job"
                ls -ltra
                cat README.md